 /* .BasicTimer {
    visibility: hidden;
    display: none;
} */

/* .Weather-App {
    visibility: hidden;
    display: none;
}  */

.Reminder-App {
    width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
